<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.app.dao.MemberDao">

	<select id="login" parameterType="String" resultType="com.kosa.app.model.MemberVo">
		SELECT * FROM MEMBER WHERE member_id = #{memberId}  
	</select>
	
	<insert id="signup" parameterType="com.kosa.app.model.MemberVo">
		<if test="provider == null">
			INSERT INTO MEMBER 
				(member_id, password, name, email, birth, gender, role)
			VALUES
				(#{memberId}, #{password}, #{name}, #{email}, #{birth}, #{gender}, 'USER')
		</if>
		<if test="provider != null">
			INSERT INTO MEMBER
			(id, password, name, email, role, provider)
			VALUES
			(#{id}, #{password}, #{name}, #{email}, #{role}, #{provider})
		</if>
	</insert>
	
	<select id="memberCheck" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM MEMBER WHERE member_id = #{memberId}
	</select>
	
	<insert id="oauthSignup" parameterType="com.kosa.app.model.MemberVo">
		INSERT INTO MEMBER
			(member_id, password, name, email, role, provider)
		VALUES
			(#{memberId}, #{password}, #{name}, #{email}, 'USER', #{provider})
	</insert>
</mapper>